* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: url('../backgraund-images.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.site-header {
    border-bottom: 5px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;  
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

.sitenav-list {
    display: flex;
    list-style: none;

}
.sitenav-item:not(:last-child) {
    margin-right: 15px;
}
.sitenav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.toggle-nav {
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    display: none;
}
.hidden-nav.sitenav {
    display: block !important; 
    background: #ffffffb4;
    position: fixed;
    width: 70%;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
}

.hidden-nav .sitenav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    gap: 25px;
}

.hidden-nav .sitenav-link {
    color: #222;
    font-weight: bold;
}
.hidden-nav.shownav.sitenav {
    transform: translateX(0%);
}

@media (max-width: 500px) {
    .sitenav {
        display: none;
    }
    .toggle-nav {
        display: block;
    }
}